= form_for @stock do |f|
  -if @stock.errors.any?
    #error_explanation.action_panel
      %h3= "#{pluralize(@stock.errors.count, "error")} prohibited this stock from being saved:"
      %ul
        - @stock.errors.full_messages.each do |msg|
          %li= msg

  %table.action_panel
    %tr
      %td= f.label "Company Name"
      %td= f.text_field :companyname
    %tr
      %td= f.label "Stock Symbol"
      %td= f.text_field :companysymbol
  .action_panel
    = f.submit 'Add New Stock', :class => "action"
