-# %h2 My Stocks

%div.main_panel
  %table.stock_panel
    %tr
      %td
        %table#stocklist
          %tr
            %th Company
            %th Symbol
            %th Value
            %th Change
            %th

          - @stocks.each do |stock|
            %tr
              %td= stock.companyname
              %td.companysymbol= stock.companysymbol
              %td.value= stock.value
              %td.delta= stock.delta
              %td= link_to 'Delete', stock, :confirm => 'Are you sure?', :method => :delete

  %table.action_panel
    %tr
      %td
        = button_to 'Add a Stock', new_stock_path, :class => "action", :method => :get
      %td
        = button_to 'Delete My Stocks', '#', :class => "action"
      -# if isguest?
        %td
          = link_to 'Guest Sign Out', { :action => "guestlog", :guest => "blah"}, :class => "action"
      - if current_user.admin?
        %td
          = button_to 'Update Stocks', stockservice_path, :class => "action"
        %td
          = button_to 'Random Test', { :controller => "stocks", :action => "sservice", :update => "random" }, :class => "action"
        %td
          = button_to 'Real Update', { :controller => "stocks", :action => "sservice", :update => "real" }, :class => "action"

