%h1 Listing stocks

%table#stocklist
  %tr
    %th Stock Name
    %th Symbol
    %th Last Value
    %th Delta
    %th
    %th
    %th

  - @stocks.each do |stock|
    %tr
      %td= stock.companyname
      %td= stock.companysymbol
      %td= stock.value
      %td= stock.delta
      %td= link_to 'Show', stock
      %td= link_to 'Edit', edit_stock_path(stock)
      %td= link_to 'Destroy', stock, :confirm => 'Are you sure?', :method => :delete

%br
%p= @bar
%br
= link_to 'Get Stock Service', getservice_path
%br
%br

= link_to 'New Stock', new_stock_path
