-# %h2 My Stocks

%div.main_panel
  %table.stock_panel
    %tr
      %td
        %table#stocklist
          %tr
            %th Company
            %th Symbol
            %th Value
            %th Change
            %th

          - @stocks.each do |stock|
            %tr
              %td= stock.companyname
              %td.companysymbol= stock.companysymbol
              %td.value= stock.value
              %td.delta= stock.delta
              - if current_user.admin?
                %td= link_to 'Delete', stock, :confirm => 'Are you sure?', :method => :delete

  %table.action_panel
    %tr
      %td
        = button_to 'Add a Stock', new_stock_path, :class => "action", :method => :get
      - if !current_user.admin?
        %td
          = button_to 'Clear My Stocks', @stocks.last, :method => :delete, :class => "action"
      - if current_user.guest? || current_user.admin?
        %td
          = link_to 'Random Test', { :controller => "stocks", :action => "index", :random => "true" }, :class => "action"
      - if current_user.admin?
        %td
          = button_to 'Update Stocks', stockservice_path, :class => "action"
